@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h1>Index Sayfası</h1>
<br />
<br />
<br />

<table>
    <tr>
        <td>ID</td>
        <td>Başlık</td>
    </tr>
    @foreach (var item in Model)
	{
		 <tr>
             <td>@item.BlogID</td>
             <td>@item.BlogTitle</td>
         </tr>
	}
</table>