<div class="tech-btm">
    <p>Diğer bültenlerimiz için abone olun</p>

    <form action="SubscribeMail" method="post">
        <input type="email" placeholder="Email" name="Mail">
        <input type="submit" value="Abone Ol">
    </form>
                            
</div>