
<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
   @if (User.Identity.IsAuthenticated)
   {
    <span>@User.Identity.Name !</span>
       <br/>
       <span class="mx-lg-4 mx-md-2  mx-1">
           <a href="/Account/LogOut">
               <i class="fas fa-sign-out-alt"></i> Çıkış Yap
           </a>   
           <a href="/Dashboard/Index">
               <i class="fas fa-sign-out-alt"></i> Hesabım
           </a>
       </span>
   }
   else
   {
       <span class="mx-lg-4 mx-md-2  mx-1">
           <a href="/Account/Login">
               <i class="fas fa-lock"></i> Giriş Yap
           </a>
       </span>
       <span>
           <a href="/Account/Register">
               <i class="far fa-user"></i> Kayıt Ol
           </a>
       </span>
   }
   
</div>
