<div class="tech-btm">
    <h4>Mail bültenimize abone olun</h4>
    <p>Diğer bültenlerimiz için abone olun</p>

    <form action="SubscribeMail" method="post">
        <input type="email" placeholder="Email" name="Mail">
        <input type="submit" value="Subscribe">
    </form>

</div>

