@model List<EntityLayer.Concrete.Category>

<div class="tech-btm">
    <h4>Kategoriler</h4>
    <ul class="list-group single">
        @foreach (var item in Model)
        {
            <button onclick="changeColor" class="list-group-item d-flex justify-content-between align-items-center" id="categoryItem">
                @item.CategoryName
                <span class="badge badge-primary badge-pill">2</span>
            </button>
        }
    </ul>
</div>


<script>
    function changeColor() {
        document.body.style.color = "categoryItem";
        return false;
    }
</script>
